# knowledge base packages
rdflib==4.2.2
rdflib-sqlalchemy==0.3.8
SPARQLWrapper==1.8.2

# word embedding packages
gensim==3.7.1

# NLP packages
spacy==2.0.18
nltk==3.4
# Justin's less chatty fork of pydictionary
git+https://github.com/justinnhli/PyDictionary.git

# jupyter notebook packages
jupyter==1.0.0
bokeh==1.0.4
pandas==0.24.0
numpy==1.16.1

# utility packages
SQLAlchemy==1.2.17
requests==2.21.0
networkx==2.2

# experiment packages
git+https://github.com/justinnhli/permspace.git
git+https://github.com/justinnhli/clusterun.git

# code quality packages
pylint==2.2.3
pydocstyle
pytest-cov
coverage
coveralls
